<div class="row font-white side-space">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6 text-center" style="margin: 0 auto;">
		<div class="row text-center">
			<div class="col-lg-12">
				<%= link_to '友達',user_friends_path(user_id:current_user.id), class: "link theme-color" %>
				|
				<%= link_to '受け取った申請',user_friends_path(user_id: current_user.id,status: "waiting_user"), class: "link theme-color" %>
				|
				<%= link_to '承認待ち',user_friends_path(user_id: current_user.id,status: "wait_self"), class: "link theme-color" %>
			</div>
		</div>
		<br>
		<h3><%= @title %></h3>
		<br>
		<div style="height: 620px; overflow: auto;">
		<% @users.each do |user| %>
			<!-- 承認待ち -->
			<% if @status == "wait_self" %>
				<div class="row mb-5">
					<div class="col-lg-4">
						<%= link_to user_path(user.receiver.id) do %>
							<% if user.receiver.image? %>
								<%= image_tag user.receiver.image.url, width: 150, height: 150, class: "circle" %>
							<% else %>
								<%= image_tag 'NO_IMAGE.png', width: 150, height: 150,class: "circle" %>
							<% end %>
						<% end %>
					</div>
					<div class="col-lg-1">
					</div>
					<div class="col-lg-7 mt-5">
						<%= link_to user.receiver.name, user_path(user.receiver.id), class: "link" %>

						<%= link_to '取り消す', user_friend_path(user_id: current_user.id, id: user.id, status: "wait_self"), method: :delete, remote: true, class: "btn btn-outline-danger form-control" %>
					</div>
				</div>

			<!-- 受け取った申請 -->
			<% elsif @status == "waiting_user" %>
				<div class="row mb-5">
					<div class="col-lg-4">
						<%= link_to user_path(user.receiver.id) do %>
							<% if user.sender.image? %>
								<%= image_tag @user.sender.image.url, width: 150, height: 150, class: "circle" %>
							<% else %>
								<%= image_tag 'NO_IMAGE.png', width: 150, height: 150,class: "circle" %>
							<% end %>
						<% end %>
					</div>
					<div class="col-lg-1">
					</div>
					<div class="col-lg-7 mt-5">

						<%= link_to user.sender.name, user_path(user.sender.id), class: "link" %>

						<%= link_to '友達になる', user_friend_path(user_id: current_user.id, id: user.id, status: "waiting_user"), method: :patch, class: "btn btn-outline-success form-control" %>

						<%= link_to '断る', user_friend_path(user_id: current_user.id, id: user.id), method: :delete, remote: true, class: "btn btn-outline-danger form-control" %>
					</div>
				</div>
			<% else %>
				<div class="row mb-5">
					<div class="col-lg-4">
						<%= link_to user_path(user.receiver.id) do %>
							<% if user.receiver.image? %>
								<%= image_tag user.receiver.image.url, width: 150, height: 150, class: "circle" %>
							<% else %>
								<%= image_tag 'NO_IMAGE.png', width: 150, height: 150,class: "circle" %>
							<% end %>
						<% end %>
					</div>
					<div class="col-lg-1">
					</div>
					<div class="col-lg-7 mt-5">
				
						<%= link_to user.receiver.name, user_path(user.receiver.id), class: "link" %>

						<%= link_to '削除する', user_friend_path(user_id: current_user.id, id: user.id), method: :delete, remote: true, class: "btn btn-outline-danger form-control" %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	</div>
	<div class="col-lg-3">
	</div>
</div>