<div class="row no-gutters font-white scroll" style="height: 100%;">
	<div class="offset-sm-3 col-sm-6 mb-5">
		<%= form_with(model: @diary, url: diary_path(id: @diary.id), local: true, method: :patch) do |f| %>

			<div class="field">
				<%= f.label :title, "タイトル" %>
				<%= f.text_field :title, class: "form-control", style: "color: black;", required: true %>
			</div>
			<br>
			<div class="field">
				<%= f.label :image, "サムネイル" %><i class="fas fa-camera"></i>
				<br>
				<%= f.file_field :image, class: "form-control file" %>
				<%= f.hidden_field :image_cache %>
			</div>
			<% if @diary.image? %>
				<div class="thmbnail text-center mt-5">
					<%= image_tag @diary.image.url, width: 150, height: 150, class: "square" %>
				</div>
			<% end %>

			<div class="text-center">
				<% if @diary.persisted? && @diary.image? %>
					<label class="font-white">
						<%= f.check_box :remove_image %>
						画像を削除
					</label>
				<% end %>
			</div>
			<br>
			<div class="field">
				<%= f.text_area :body, required: true%>
			</div>
			<br>
			<div class="field">
				<%= f.label :private_status, "公開範囲" %>
				<% if @diary.group_id.present? %>
					<%= f.select :private_status, [['非公開', "closed"],['友達のみ', "friend_only"],['グループのみ', "group_only"],['友達とグループのみ', "open"],['全体に公開', "full_open"]],{}, class: "form form-control" %>
				<% else %>
					<%= f.select :private_status, [['非公開', "closed"],['友達のみ', "friend_only"],['全体に公開', "full_open"]],{}, class: "form form-control" %>
				<% end %>
			</div>

			<%= f.hidden_field :user_id, value: @diary.user_id %>

			<% if @diary.group_id.present? %>
				<%= f.hidden_field :group_id, value: @diary.group_id %>
			<% end %>

			<div class="action">
				<%= f.submit '編集完了', class: "btn btn-outline-success form-control" %>
			</div>
		<% end %>
		<script>
			new FroalaEditor('#diary_body',{
				language: 'ja',
				heightMin: 500,
				heightMax: 750,
				videoUploadToS3: <%= @aws_video.to_json.html_safe %>,
				imageUploadToS3: <%= @aws_image.to_json.html_safe %>,
				fileUploadToS3: <%= @aws_file.to_json.html_safe %>,
			})
		</script>
		<%= link_to '削除する', diary_path(@diary), method: :delete, class: "btn form-control btn-outline-danger" %>
	</div>
</div>