<div class="row no-gutters font-white pb-3">
	<div class="offset-sm-3 col-sm-6">	
		<%= form_with(model: @diary, url: diaries_path, local: true) do |f| %>

			<div class="field">
				<%= f.label :title, "タイトル" %>
				　<%= f.text_field :title, class: "form form-control", style: "color: black;", required: true %>
			</div>
			<br>
			<div>
				<%= f.label :image, "サムネイル" %>
				　<%= f.file_field :image, class: "form-control file" %>
				<%= f.hidden_field :image_cache %>
			</div>
			<br>
			<div class="field">
				<%= f.text_area :body, required: true%>
			</div>
			<br>
			<div class="field">
				<%= f.label :private_status, "公開範囲" %>
				<br>
				<% if @group.present? %>
					<%= f.select :private_status, [['非公開', "closed"],['友人のみ', "friend_only"],['グループのみ', "group_only"],['友達とグループのみ', "open"],['全体に公開', "full_open"]],{}, class: "form form-control" %>
					<%= f.hidden_field :group_id, value: @group.id %>
				<% else %>
					<%= f.select :private_status, [['非公開', "closed"],['友人のみ', "friend_only"],['全体に公開', "full_open"]],{}, class: "form form-control" %>
				<% end %>
			</div>

			<%= f.hidden_field :user_id, value: current_user.id %>

			<div class="action">
				<%= f.submit '投稿する', class: "btn btn-outline-success form-control" %>
			</div>
		<% end %>
		<script>
			new FroalaEditor('#diary_body',{})
		</script>

		<%= link_to '戻る', user_path(current_user), class: "btn btn-outline-danger form-control" %>
	</div>
</div>