<div class="row no-gutters mb-5">
	<div class="col-lg-8 mb-5">
		<div style="overflow: auto;">
			<div class="text-center">
				<h2 class="font-white" style="border-bottom: 1px solid #fff;"><%= @diary.title %></h2>
			</div>
			<div class="diary" style="background-color: #fff; border-radius: 5px; padding: 10px;">
				<%== @diary.body %>
			</div>
		</div>
	</div>
	<div class="offset-lg-1 col-lg-3">
		<div class="text-center">
			<%= link_to user_path(@diary.user_id) do %>
				<% if @diary.user.image? %>
					<%= image_tag @diary.user.image.url, width: 100, height: 100, class: "circle" %>
				<% else %>
					<%= image_tag 'NO_IMAGE.png', width: 100, height: 100, class: "circle" %>
				<% end %>
			<% end %>
			<br>
			<h5 class="mt-2"><%= link_to @diary.user.name, user_path(@diary.user_id), class: "link theme-color" %></h5>
			
			<% if @diary.user_id == current_user.id %>
				<%= link_to '編集する', edit_group_diary_path(group_id: @group.id, id: @diary.id), class: "btn btn-outline-primary form-control" %>
			<% end %>
			<% if @group.users.find_by(id: current_user).present? %>
				<%= link_to '日記一覧へ', group_diaries_path(group_id: @diary.group_id), class: "link form-control mt-5" %>
			<% end %>
		</div>
	</div>
</div>
<div class="row no-gutters">
	<div class="col-lg-8">
		<h5 class="font-white text-center" style="border-bottom: 1px solid #fff;">コメント一覧</h5>
	</div>
</div>
<div class="row no-gutters text-center pb-3">		
	<div class="col-lg-8 mb-2">
		<div style="overflow: auto; height: 160px;">
			<% @diary.diary_comments.each do |diary_comment| %>
				<div class="row no-gutters"
					style="background-color: #fff;
						   border-radius: 5px;
						   padding: 10px;
						   word-break:break-all;
						   text-align: left;">	
					<%= diary_comment.comment %>	
				</div>
				<div class="row no-gutters font-white">
					<% if @diary.user.image? %>
						<%= image_tag @diary.user.image.url, width: 25, height: 25, class: "circle" %>
					<% else %>
						<%= image_tag 'NO_IMAGE.png', width: 25, height: 30, class: "circle" %>
					<% end %>
					<%= diary_comment.user.name %>
					<%= diary_comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
					<br><br>
				</div>

			<% end %>
		</div>
	</div>
	<div class="offset-lg-1 col-lg-3">
		<div>
			<%= form_with url: group_diary_comments_path(group_id: @diary.group_id, diary_id: @diary.id), local: true do |f| %>

				<%= f.text_area :comment, class: "form-control", rows: 5, placeholder: "(500文字以内)" %>

				<%= f.hidden_field :user_id, value: current_user.id %>

				<%= f.hidden_field :diary_id, value: @diary.id %>

				<%= f.submit 'コメントを送る', class: "btn btn-outline-success form-control" %>
			<% end %>
		</div>
	</div>
</div>