<% if @side == "edit" %>
	<%= form_for @group do |f| %>

		<div class="form-group">
			<%= f.label :name, :グループ名 %>
			<br>
			<%= f.text_field :name, placeholder: @group.name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :leader, :ホスト %>
			<br>
			<%= f.select :leader, @group.users.collect{|user| [user.name, user.id]},{}, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :self_id, :グループID %>
			<br>
			<% if @group.self_id.nil? %>
				<%= f.text_field :self_id, placeholder: "グループID(任意)", class: "form-control" %>
			<% else %>
				<%= f.text_field :self_id, placeholder: @group.self_id, class: "form-control" %>
			<% end %>
		</div>

		<div class="form-group">
			<%= f.radio_button :private_status, "closed" %>
			<%= f.label :private_status, :参加者以外後悔しない %>
		</div>

		<div class="form-group">
			<%= f.radio_button :private_status, "open" %>
			<%= f.label :private_status, :友人に公開する %>
		</div>
		<%= f.submit '変更する', class: "btn theme-color form-control" %>
		<%= link_to 'やめる', group_path(@group), class: "btn btn-danger form-control" %>
	<% end %>
<% else %>
<div>
	<div>
		<p>グループ名</p>
		<p><%= @group.name %></p>
	</div>


	<div>
		<p>ホスト</p>
		<% @group.users.each do |user| %>
			<% if user.id == @group.leader %>
				<p><%= user.name %></p>
			<% end %>
		<% end %>
	</div>
	
	<div>
		<% if @group.self_id.present? %>
			<%= @group.self_id %>
		<% end %>
	</div>

	<div>
		<%= @group.private_status %>
	</div>

	<%= link_to '編集する',group_path(id: @group, side: "edit"), class: "btn theme-color" %>
</div>
<% end %>