<% @messages.last(100).each do |message| %>
	<div class="row no-gutters pl-1 pr-1 pb-2">
		<% if message.user.id == current_user.id %>
			<div class="offset-lg-4 col-lg-8" style="text-align: right; margin-bottom: 3px;">
				<p style="display: inline-block;"><%= message.created_at.strftime("%-H:%M") %></p>
				<div class="self-message">
					<p class="mb-0"><%= message.content %></p>
				</div>
			</div>
		<% else %>
			<div class="col-lg-8" style="text-align: left; margin-bottom: 3px;">
				<p class="mb-0" style="color: #fff;"><%= message.user.name %></p>
				<div class="other-message">
					<p class="mb-0"><%= message.content %></p>
				</div>
				<p style="display: inline-block;"><%= message.created_at.strftime("%-H:%M") %></p>
			</div>
			<div class="col-lg-4">
			</div>
		<% end %>
	</div>
<% end %>