<div class="row no-gutters font-white">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6">
		<h4><%= "グループチャット" %></h4>
		<div class="chat-scroll">

				<%= render "message", collection: @messages %>
			<div id="messages">
			</div>
		</div>
	</div>
</div>
<div class="row no-gutters side-space">
	<div class="offset-lg-3 col-lg-6">
		<div class="row no-gutters">
			<div class="col-lg-9" style="padding: 1px;">
				<input class="form form-control" id="chat" type="text" data-behavior="group_speaker" data-user="<%= current_user.id %>" data-group="<%= @group.id %>" required="required">
			</div>
			<div class="col-lg-3" style="padding: 1px; ">
				<button id="submit" class="btn btn-outline-success form-control" type="button">投稿</button>
			</div>
		</div>
	</div>
</div>
<div class="row no-gutters">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6">
		<table class="text-center table table-borderless table-responsive">
			<tr>
				<% @group.users.each do |user| %>
					<td>
						<%= link_to user_path(user) do %>
							<% if user.image? %>
								<%= image_tag user.image.url, width: 150, height: 150, class: "circle mt-5 mb-3" %>
							<% else %>
								<%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle mt-5 mb-3" %>
							<% end %>
						<% end %>
						<br>
						<%= link_to user.name, user_path(user), class: "theme-color" %>
					</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>