<div class="row">
	<div class="col-lg-3 side-space">
		<div style="text-align: center;">
			<% if @user.present? %>
				<%= image_tag 'CorkBoard.png', width: '200', height: '150' %>
				<br>
				ユーザー名:　<%= link_to @user.name, user_path(@user) %>
				<br>
				<%= link_to '詳細を見る', user_path(@user), class: "btn theme-color form-control" %>
				<br>
			<% end %>
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<% @group.users.each do |user| %>
				<div class="col-lg-3">
					<%= link_to user.name, group_chats_path(group_id: @group.id, user_id: user.id) %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-lg-6 side-space">
		<h4><%= "#{@group.name}のチャットルーム" %></h4>
		<div style="height:500px; overflow: auto; padding:10px;">

				<%= render "message", collection: @messages %>
			<div class="row" id="messages">
			</div>
		</div>
		<div class="offset-lg-6 col-lg-6">
			<div class="row">
				<div class="col-lg-9" style="padding: 1px;">
					<input class="form-control" id="chat" type="text" data-behavior="group_speaker" data-user="<%= current_user.id %>" data-group="<%= @group.id %>" required="required">
				</div>
				<div class="col-lg-3" style="padding: 1px;">
					<button id="submit" class="btn theme-color form-control" type="button" style="border-radius: 3px; border: 0px;">投稿</button>
				</div>
			</div>
		</div>
	</div>
</div>