<div class="row no-gutters">
	<div class="offset-lg-4 font-white" style="margin: 0 auto;">
		<%= form_for @group do |f| %>

			<div class="form-group text-center">
				<% if @group.image? %>
					<div class="thmbnail">
						<%= image_tag @group.image.url, width: 150, height: 150, class: "circle" %>
					</div>
				<% end %>
			</div>

			<div class="form-group">
				<%= f.label :image , "サムネイル" %>
				<br>
				<%= f.file_field :image, class: "form-control file" %>
				<%= f.hidden_field :image_cache %>
			</div>

			<div class="form-group">
				<% if @group.persisted? && @group.image? %>
					<label>
						<%= f.check_box :remove_image %>
						画像を削除
					</label>
				<% end %>
			</div>
				
			<div class="form-group">
				<%= f.label :name, :グループ名 %>
				<br>
				<%= f.text_field :name, autofocus: true, placeholder: @group.name, class: "form form-control", required: true %>
			</div>

			<div class="form-group">
				<%= f.label :leader, :ホスト %>
				<br>
				<%= f.select :leader, @group.users.collect{|user| [user.name, user.id]},{}, class: "form form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :self_id, :グループID %>
				<br>
				<% if @group.self_id.nil? %>
					<%= f.text_field :self_id, placeholder: "グループID(任意)", class: "form form-control" %>
				<% else %>
					<%= f.text_field :self_id, placeholder: @group.self_id, class: "form form-control" %>
				<% end %>
			</div>

			<div class="form-group">
				<%= f.radio_button :private_status, "closed" %>
				<%= f.label :private_status, :招待者以外参加不可に設定 %>
			</div>

			<div class="form-group">
				<%= f.radio_button :private_status, "open" %>
				<%= f.label :private_status, :誰でも参加申請可に設定 %>
			</div>
			<%= f.submit '変更する', class: "btn btn-outline-success form-control" %>
			<%= link_to '削除する', group_destroy_confirm_path(group_id: @group, destroy: "group"), class: "btn btn-outline-danger form-control" %>
		<% end %>
	</div>
</div>
