<div class="row side-space">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6">
		<div class="container" style="
			height: 500px;
			padding: 30px 50px;
			border-radius: 5px;
			background: url(/assets/CorkBoard.png) 0 0 no-repeat;
			background-size: auto, auto;
			background-position: center;
			border: #F4A460 20px ridge ">

			<div class="row" style="
				margin: 0 auto;
				overflow: auto;
				width: 100%;
				height: 430px;">
				<% if @new == "new" %>
					<div class="col-lg-6 toast" role="alert" aria-live="assertive" aria-atomic="true" style="height: 100px; margin-top: 20px;">
						<%= form_with(model:[@group,@memo]) do |f| %>

							<div class="toast-header theme-color">
							<strong class="mr-auto">　<%= current_user.name %></strong>
							<%= f.submit '貼る',class: "theme-color", style: "float: right; height: 20px; border: 0;" %>
    						</div>
    						<div class="toast-body" style=" border: 1px solid #fff; height: 65px;">
    						<%= f.hidden_field :group_id, value: @group.id %>
    						<%= f.hidden_field :user_id, value: current_user.id %>

    						<%= f.text_area :body, autofocus: true, placeholder: "メモを入力してください", class: "form-control", rows: 2, required: true %>
							</div>

						<% end %>
					</div>
				<% end %>

				<% @group.memos.reverse.each do |memo| %>

					<div class="col-lg-6 toast" role="alert" aria-live="assertive" aria-atomic="true" style="height: 100px; margin: 20px 0;">
						<div class="toast-header theme-color">
							<strong class="mr-auto">　<%= memo.user.name %></strong>
    						<span style="float: right; margin-right: 5px;">
    							<%= link_to 'x', group_memo_path(group_id: memo.group_id, id:memo.id), method: :delete, remote: true, style: "text-decoration: none; color: #fff" %>
    						</span>
    					</div>

    					<div class="toast-body" style="
    						border: 1px solid #fff;
    						height: 65px;
    						padding: 5px;
    						word-wrap: break-word;
    						overflow: auto;
    						background-color: #fff;">

							<%= memo.body %>

						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row mt-3">
			<div class="offset-lg-8">
			</div>
			<div class="col-lg-4">
				<% if @new == "new" %>
					<%= link_to 'やめる', group_path(id: @group.id), class: "btn btn-danger form-control" %>
				<% else %>
					<%= link_to '新しく貼る', group_path(id: @group.id, new: "new"), class: "btn theme-color form-control", style: "text-decoration: none;" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<%= link_to '日記一覧へ',group_diaries_path(@group), class: "btn theme-color form-control" %>
	</div>
</div>