<div class="row side-space">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6">
		<div class="container" style="
			height: 500px;
			padding: 30px 50px;
			border-radius: 5px;
			background: url(/assets/CorkBoard.png) 0 0 no-repeat;
			background-size: auto, auto;
			background-position: center;
			border: #F4A460 20px ridge ">

			<div class="row" style="
				margin: 0 auto;
				overflow: auto;
				width: 100%;
				height: 430px;">

				<div class="col-lg-4 toast" role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 20px;">
					<%= form_with(model:[@group,@memo]) do |f| %>

						<div class="toast-header theme-color">
							<strong class="mr-auto">　<%= current_user.name %></strong>
						<%= f.submit '貼る',class: "theme-color", style: "float: right; height: 20px; border: 0;" %>
    					</div>
    					<div class="toast-body" style=" border: 1px solid #FF4F02; height: 88px;">
    						<%= f.hidden_field :group_id, value: @group.id %>
    						<%= f.hidden_field :user_id, value: current_user.id %>

    						<%= f.text_area :body, autofocus: true, placeholder: "メモ", class: "form-control", rows: 3, required: true %>
						</div>

					<% end %>
				</div>

				<% @group.memos.reverse.each do |memo| %>

					<div class="col-lg-4 toast" role="alert" aria-live="assertive" aria-atomic="true" style="height: 100px; margin: 20px 0;">
						<div class="toast-header theme-color">
							<strong class="mr-auto">　<%= memo.user.name %></strong>
    						<span style="float: right; margin-right: 5px;">
    							<%= link_to 'x', group_memo_path(group_id: memo.group_id, id:memo.id), method: :delete, remote: true, style: "text-decoration: none; color: #fff" %>
    						</span>
    					</div>

    					<div class="toast-body" style="
    						border: 1px solid #FF4F02;
    						height: 88px;
    						padding: 5px;
    						word-wrap: break-word;
    						overflow: auto;
    						background-color: #fff;">

							<%= memo.body %>

						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>