<div class="row no-gutters">
	<div class="col-lg-3 text-center">
		<% if @waiting_for_allows.present? && (current_user.id == @group.leader) %>
			<div style="height: 320px; overflow: auto;">
				<% @waiting_for_allows.each do |waiting_for_allow| %>
					<div style="margin-bottom: 15px;">
						<%= link_to user_path(waiting_for_allow.user.id) do %>
							<% if waiting_for_allow.user.image? %>
								<%= image_tag waiting_for_allow.user.image.url, width: 150, height: 150, class: "circle" %>
							<% else %>
									<%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
							<% end %>
						<% end %>
						<br>
						<p><%= link_to waiting_for_allow.user.name, user_path(waiting_for_allow.user.id), class: "theme-color" %>さんから</p>

						<p>このグループに参加申請が来ています</p>

						<%= link_to group_user_path(group_id: waiting_for_allow.group.id, id: waiting_for_allow.id), method: :put, class: "btn btn-outline-success form-control" do %>
							<i class="fas fa-user-plus"></i>承認
						<% end %>

						<%= link_to group_destroy_user_path(group_id: waiting_for_allow.group.id, id: waiting_for_allow.id), method: :delete, class: "btn btn-outline-danger form-control" do %>
							<i class="fas fa-user-minus"></i>断る
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-lg-6 mb-3">
		<div class="row no-gutters" style="width: 100%;">
			<div class="col-lg-2" style="width: 10%;">
			</div>
			<!-- 日記一覧 -->
			<div class="col-lg-2 text-center" style="width: 20%;">
				<%= link_to diaries_path(group_id:@group), class: "theme-color" do %>
						<h2><i class="fas fa-book-open border" style="padding: 10px; border-radius: 50%; background-color: #28A745;"></i></h2>
						<p><small>日記一覧</small></p>
				<% end %>
			</div>
			<div class="col-lg-1" style="width: 10%;">
			</div>
			<!-- グループチャット -->
			<div class="col-lg-2 text-center" style="width: 20%;">
				<%= link_to group_chats_path(@group), class: "theme-color" do %>
					<h2><i class="far fa-comments border" style="padding: 10px; border-radius: 50%; background-color: #FFC107;"></i></h2>
					<p><small>チャット</small></p>
				<% end %>
			</div>
			<div class="col-lg-1" style="width: 10%">
			</div>
			<!-- メモ -->
			<div class="col-lg-2 text-center" style="width: 20%;">
				<% if @new == "new" %>
					<%= link_to group_path(id: @group.id), class: "font-red" do %>
						<h2>
							<i class="fas fa-undo-alt border" style="padding: 10px; border-radius: 50%; background-color: #FF69A3;"></i>
						</h2>
						<p><small>やめる</small></p>
					<% end %>
				<% else %>
					<%= link_to group_path(id: @group.id, new: "new"), class: "theme-color" do %>
						<h2>
							<i class="far fa-sticky-note border" style="padding: 10px; border-radius: 50%; background-color: #99FFFF;"></i>
						</h2>
						<p><small>メモを貼る</small></p>
					<% end %>
				<% end %>
			</div>
			<div class="col-lg-2" style="width: 10%;">
			</div>
		</div>
		<div class="row no-gutters mt-2 board">
			<% if @new == "new" %>
				<div class="col-lg-6 toast pr-1 pl-1" role="alert" aria-live="assertive" aria-atomic="true" style="height: 100px;">
					<%= form_with(model:[@group,@memo]) do |f| %>

						<div class="toast-header" style="background-color: #99FFFF;">
							<strong class="pl-3"><%= current_user.name %></strong>
							<%= f.button type: "submit",class: "link", style: "float: right; height: 21px; background-color: rgba(0,0,0,0); border: none;" do %>
								<i class="fas fa-plus"></i>
							<% end %>
    					</div>
    		
    					<div class="toast-body" style="height: 55px;">
    						<%= f.hidden_field :group_id, value: @group.id %>
    						<%= f.hidden_field :user_id, value: current_user.id %>

    						<%= f.text_area :body, autofocus: true, placeholder: "メモを入力してください", class: "form-control pl-3 pr-3", rows: 2, required: true, style: "background-color: #99FFFF; border-radius: 0;" %>
						</div>

					<% end %>
				</div>
			<% end %>

			<% @group.memos.reverse.each do |memo| %>

				<div class="col-lg-6 toast pr-1 pl-1" role="alert" aria-live="assertive" aria-atomic="true" style="height: 100px;">
					<div class="toast-header" style="background-color: #99FFFF; padding: 3px;">
						<strong><%= memo.user.name %></strong>
    					<span style="float: right; margin-right: 3px;">
    						<%= link_to group_memo_path(group_id: memo.group_id, id:memo.id), method: :delete, remote: true, class: "link-danger", style: "border: none;" do %>
    							<i class="fas fa-times"></i>
    						<% end %>
    					</span>
    				</div>

    				<div class="toast-body" style="
    					height: 55px;
    					padding: 3px;
    					word-wrap: break-word;
    					overflow: auto;
    					background-color: #99FFFF;">

						<%= memo.body %>

					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-lg-3" style="text-align: center;">
		<h4 class="font-white mb-3"><i class="fas fa-hand-point-down"></i>　新着日記　<i class="fas fa-hand-point-down"></i></h4>
		<% if @diaries.present? %>
			<div  class="scroll">
				<table class="table-borderless" style="width: 100%;">
					<% @diaries.last(10).reverse_each do |diary| %>
						<tr>
							<th class="pb-2" style="width: 50%;">
								<%= link_to diary_path(diary) do %>
									<% if diary.image? %>
										<%= image_tag diary.image.url, width: 150, height: 150, class: "square" %>
									<% else %>
										<%= image_tag 'NO_IMAGE.png', width: 150, height: 150, class: "square" %>
									<% end %>
								<% end %>
							</th>
							<td class="pb-2" style="width: 50%; text-align: left;">
								<h4 class="theme-color">
									<%= link_to diary.title, diary_path(diary), class: "theme-color" %>
								</h4>
								<p>投稿者:<%= link_to diary.user.name, user_path(id: diary.user.id), class: "theme-color" %></p>
								<p><small><%= diary.created_at.strftime("%Y年%-m月%d日 %-H時%M分") %></small></p>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		<% else %>
			<p class="font-white">まだ投稿はありません</p>
		<% end %>
	</div>
</div>