<div class="row no-gutters">
	<div class="offset-lg-4 font-white" style="margin: 0 auto;">
		<%= form_for @user do |f| %>

			<div class="form-group">
				<% if @user.image? %>
					<div class="thmbnail text-center">
						<%= image_tag @user.image.url, width: 150, height: 150, class: "circle" %>
					</div>
				<% end %>
				<%= f.label :image , :サムネイル%>
				<br>
				<%= f.file_field :image, class: "form-control file" %>
				<%= f.hidden_field :image_cache %>
			</div>
			<div class="field">
				<% if @user.persisted? && @user.image? %>
					<label>
						<%= f.check_box :remove_image %>
						画像を削除
					</label>
				<% end %>
			</div>
				
			<div class="form-group">
				<%= f.label :name, :ユーザー名 %>
				<br>
				<%= f.text_field :name, autofocus: true, placeholder: @user.name, class: "form form-control", required: true %>
			</div>

			<div class="form-group">
				<%= f.label :self_id, :ログインID %>
				<br>
				<% if @user.self_id.nil? %>
					<%= f.text_field :self_id, placeholder: "ログインID(任意)", class: "form form-control" %>
				<% else %>
					<%= f.text_field :self_id, placeholder: @user.self_id, class: "form form-control" %>
				<% end %>
			</div>

			<%= f.submit '変更する', class: "btn btn-outline-success form-control" %>
			<%= link_to '退会する', user_destroy_confirm_path(@user), class: "btn btn-outline-danger form-control" %>
		<% end %>
	</div>
</div>
