<div class="row font-white">
  <div class="col-lg-3 mb-3 text-center">
    <div>
      <% if @user.image? %>
        <%= image_tag @user.image.url, width: 150, height: 150, class: "circle" %>
      <% else %>
        <%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
      <% end %>
    </div>
    <%= @user.name %>

    <!-- サイドの表示内容 -->
    <% if user_signed_in? %>
      <div class="row no-gutters mt-2 text-center" style="width: 100%; margin: 0 auto;">
        <!-- マイページの表示 -->
        <% if @user == current_user %>
          <div class="col-lg-3" style="width: 20%;">
          </div>
          <div class="col-lg-2" style="width: 20%;">
            <!-- 友達一覧 -->
            <%= link_to user_friends_path(current_user.id), class: "btn btn-outline-primary form-control pb-5" do %>
              <i class="fas fa-user-friends"></i>
              <p><small>友達</small></p>
            <% end %>
          </div>
          <div class="col-lg-2" style="width: 20%;">
            <!-- チャット一覧 -->
            <%= link_to rooms_path, class: "btn btn-outline-warning form-control pb-5" do %>
              <i class="far fa-comments"></i>
              <p><small>DM</small></p>
            <% end %>
          </div>
          <div class="col-lg-2" style="width: 20%;">
            <!-- ユーザー編集 -->
            <%= link_to edit_user_path(@user), class: "btn btn-outline-success form-control pb-5" do %>
              <i class="fas fa-user-edit"></i>
              <p><small>編集</small></p>
            <% end %>
          </div>
          <div class="col-lg-3" style="width: 20%;">
          </div>

        <!-- 他のユーザーのページ -->
        <% else %>

          <!-- current_userと友達の場合 -->
          <% if current_user.friend?(@user) %>
            <div class="col-lg-2" style="width: 10%;">
            </div>
            <div class="col-lg-4" style="width: 40%;">
              <!-- チャットルーム -->
              <% if @room.present? %>
                <%= link_to room_path(@room), class: "btn btn-outline-primary form-control" do %>
                  <i class="fas fa-comment-dots"></i>
                <% end %>
              <% else %>
                <%= link_to rooms_path(user_id: @user.id), method: :post, class: "btn btn-outline-success form-control" do %>
                  <i class="fas fa-comment-dots"></i>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-4" style="width: 40%;">
              <!-- 友達削除 -->
              <%= link_to user_friend_path(user_id: current_user.id, id: @user_info.id), method: :delete, class: "btn btn-outline-danger form-control" do %>
                <i class="fas fa-dizzy"></i>お別れ
              <% end %>
            </div>
            <div class="col-lg-2" style="width: 10%;">
            </div>
              <!-- グループへの招待 -->
            <% if @groups.present? %>
              <div class="row no-gutters mt-3" style="width: 100%">
                <div class="col-lg-12">
                  <%= form_with url: group_users_path(group_id: @groups),local: true do |f| %>
                    <div class="row no-gutters" style="width: 100%;">
                      <div class="col-lg-8">
                        <%= f.hidden_field :join_status, value: "joined" %>
                        <%= f.hidden_field :user_id, value: @user.id %>
                        <%= f.collection_select(:group_id, @groups, :id, :name,{}, {class: "form-control form"}) %>
                      </div>
                      <div class="col-lg-4">
                        <%= f.button type: "submit", class: "btn btn-outline-success form-control" do %>
                          <i class="fas fa-user-plus"></i>　招待
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <% end %>
          <!-- 友達申請を自分が送っていた場合 -->
          <% elsif current_user.wait_self?(@user) %>
            <div class="offset-lg-3 col-lg-6 text-center" style="width: 60%; margin: 0 20%;">
              <p>申請中です</p>
              <%= link_to user_friend_path(user_id: current_user.id, id: @user_info.id), method: :delete, class: "btn btn-outline-danger form-control" do %>
                <i class="fas fa-dizzy"></i>　取り消す
              <% end %>
            </div>

          <!-- 友達申請を受け取っていた場合 -->
          <% elsif current_user.waiting_other_user?(@user) %>
            <div class="row no-gutters" style="width: 100%;">
              <div class="col-lg-12">
                <p>申請が来ています</p>
              </div>
            </div>
            <div class="col-lg-2" style="width: 20%;">
            </div>
            <%= link_to user_friend_path(user_id: current_user.id, id: @user_info.id), method: :put, class: "btn btn-outline-success form-control col-lg-4", style: "width: 30%;" do %>
              <i class="fas fa-handshake"></i>承認
            <% end %>
            <%= link_to user_friend_path(user_id: current_user.id, id: @user_info.id), method: :delete, class: "btn btn-outline-danger form-control col-lg-4", style: "width: 30%;" do %>
              <i class="fas fa-dizzy"></i>断る
            <% end %>
          <!-- 何にも当てはまらないユーザー -->
          <% else %>
              <div class="col-lg-3" style="width: 20%;">
              </div>
              <div class="col-lg-6" style="width: 60%;">
                <%= form_with(url: user_friends_path(user_id: current_user.id), local: true) do |f| %>
                  <%= f.hidden_field :sender_id, value: current_user.id %>
                  <%= f.hidden_field :receiver_id, value: @user.id %>
                  <%= f.hidden_field :request_status, value: "waiting_for_allow" %>
                  <%= f.button type: "submit", class: "btn btn-outline-success form-control" do %>
                    <i class="fas fa-user-plus"></i>　友達になる
                  <% end %>
                <% end %>
              </div>
              <div class="col-lg-3" style="width: 20%;">
              </div>
          <% end %>
        <% end %>
      </div>

      <!-- 自分に関連する友達申請関係 -->
      <% if @user == current_user %>
        <div>
          <h4 class="mt-5"><i class="fas fa-running"></i>　友達申請　<i class="fas fa-running"></i></h4>
          <div class="row no-gutters text-center tab-menu" style="width: 100%;">
            <div class="col-lg-6" style="width: 50%;">
              <a href="#waiting_other">保留中</a>
            </div>
            <div class="col-lg-6" style="width: 50%;">
              <a href="#waiting_self">申請中</a>
            </div>
          </div>
          <div class="tab">
            <% if @other_requests.present? %>
              <!-- 受け取った申請 -->
              <div class="tab-content" id="waiting_other" style="overflow: auto; height: 300px;">
                <% @other_requests.each do |request| %>
                  <div>
                    <%= link_to user_path(request.sender.id) do %>
                      <% if request.sender.image? %>
                        <%= image_tag request.sender.image.url, width: 150, height: 150, class: "circle" %>
                      <% else %>
                        <%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
                      <% end %>
                    <% end %>
                  </div>
                  <br>
                  <%= request.sender.name %>
                  <br>
                  <div class="row no-gutters mb-3" style="width: 100%;">
                    <div class="col-lg-2" style="width: 20%;">
                    </div>
                    <%= link_to user_friend_path(user_id: current_user.id, id: request.id),method: :put, remote: true, class: "btn btn-outline-success form-control col-lg-4", style:"width: 30%;" do %>
                      <i class="fas fa-handshake"></i>承認
                    <% end %>
                    <%= link_to user_friend_path(user_id: current_user.id, id: request.id), method: :delete, class: "btn btn-outline-danger form-control col-lg-4", style:"width: 30%;" do %>
                      <i class="fas fa-dizzy"></i>断る
                    <% end %>
                    <div class="col-lg-2" style="width: 20%;">
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>

              <!-- 送った申請 -->
            <% if @self_requests.present? %>
              <div class="tab-content" id="waiting_self" style="overflow: auto; height: 300px;">
                <% @self_requests.each do |request| %>
                  <div>
                    <%= link_to user_path(request.receiver.id) do %>
                      <% if request.receiver.image? %>
                        <%= image_tag request.receiver.image.url, width: 150, height: 150, class: "circle" %>
                      <% else %>
                        <%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
                      <% end %>
                    <% end %>
                  </div>
                  <%= request.receiver.name %>
                  <br>
                  <div class="row no-gutters mb-3" style="width: 100%; margin: 0 auto;">
                    <div class="col-lg-4" style="width: 30%;">
                    </div>
                    <%= link_to user_friend_path(user_id: current_user.id, id: request.id), method: :delete, class: "btn btn-outline-danger form-control col-lg-4" , style: "width: 40%;" do%>
                      <i class="fas fa-dizzy"></i>　取り消す
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-9 font-white text-center">
    <h2 class="border-bottom"><i class="fas fa-book-open"></i>　日記一覧</h2>
    <% if @user == current_user %>
      <div class="row no-gutters">
        <div class="col-lg-10">
          <%= link_to new_diary_path, class: "btn btn-outline-success form-control" do %>
            <i class="fas fa-edit"></i>　日記を投稿する
          <% end %>
        </div>
        <div class="col-lg-2">
          <div class="dropdown mb-5">
            <button type="button"
                class="btn btn-outline-primary dropdown-toggle form-control"
                data-toggle="dropdown">
              絞り込み
            </button>
            <div class="diary-tab-menu dropdown-menu form-control" style="background-color: #007bff; border-radius: 3px;">
              <a href="#all" class="active dropdown-item" style="background-color: #007bff; color: #fff;">全て</a>
              <a href="#closed" class="dropdown-item" style="background-color: #007bff; color: #fff;">非公開</a>
              <a href="#friend_only" class="dropdown-item" style="background-color: #007bff; color: #fff;">友達のみ</a>
              <a href="#group_only" class="dropdown-item" style="background-color: #007bff; color: #fff;">グループのみ</a>
              <a href="#open" class="dropdown-item" style="background-color: #007bff; color: #fff;">グループと友達</a>
              <a href="#full_open" class="dropdown-item" style="background-color: #007bff; color: #fff; border-radius: 0 0 3px 3px;">全体公開</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="diary-tab">
      <!-- 全表示 -->
      <div class="diary-tab-content scroll" id="all">
        <table class="table-borderless" style="width: 100%;">
          <% @diaries.each do |diary| %>
            <tr>
              <th class="pb-5" style="width: 50%;">
                <%= link_to diary_path(diary) do %>
                  <% if diary.image? %>
                    <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                  <% else %>
                    <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                  <% end %>
                <% end %>
              </th>
              <td class="pb-5" style="width: 50%; text-align: left;">
                <h4 class="theme-color">
                  <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
                </h4>
                  <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                  <% if @user == current_user %>
                  <p><%= diary.private_status_i18n %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- 非公開 -->
      <div class="diary-tab-content scroll" id="closed">
        <table class="table-borderless" style="width: 100%;">
          <% @diaries.each do |diary| %>
            <% if diary.private_status == "closed" %>
              <tr>
                <th class="pb-5" style="width: 50%;">
                  <%= link_to diary_path(diary) do %>
                    <% if diary.image? %>
                      <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                    <% else %>
                      <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                    <% end %>
                  <% end %>
                </th>
                <td class="pb-5" style="width: 50%; text-align: left;">
                  <h4 class="theme-color">
                    <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
                  </h4>
                    <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                    <% if @user == current_user %>
                    <p><%= diary.private_status_i18n %></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <!-- 友達のみ -->
      <div class="diary-tab-content scroll" id="friend_only">
        <table class="table-borderless" style="width: 100%;">
          <% @diaries.each do |diary| %>
            <% if diary.private_status == "friend_only" %>
              <tr>
                <th class="pb-5" style="width: 50%;">
                  <%= link_to diary_path(diary) do %>
                    <% if diary.image? %>
                      <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                    <% else %>
                      <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                    <% end %>
                  <% end %>
                </th>
                <td class="pb-5" style="width: 50%; text-align: left;">
                  <h4 class="theme-color">
                    <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
                  </h4>
                    <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                    <% if @user == current_user %>
                    <p><%= diary.private_status_i18n %></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <!-- グループのみ -->
      <div class="diary-tab-content scroll" id="group_only">
        <table class="table-borderless" style="width: 100%;">
          <% @diaries.each do |diary| %>
            <% if diary.private_status == "group_only" %>
              <tr>
                <th class="pb-5" style="width: 50%;">
                  <%= link_to diary_path(diary) do %>
                    <% if diary.image? %>
                      <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                    <% else %>
                      <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                    <% end %>
                  <% end %>
                </th>
                <td class="pb-5" style="width: 50%; text-align: left;">
                  <h4 class="theme-color">
                    <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
                  </h4>
                    <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                    <% if @user == current_user %>
                    <p><%= diary.private_status_i18n %></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <!-- グループと友達 -->
      <div class="diary-tab-content scroll" id="open">
        <table class="table-borderless" style="width: 100%;">
          <% @diaries.each do |diary| %>
            <% if diary.private_status == "open" %>
              <tr>
                <th class="pb-5" style="width: 50%;">
                  <%= link_to diary_path(diary) do %>
                    <% if diary.image? %>
                      <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                    <% else %>
                      <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                    <% end %>
                  <% end %>
                </th>
                <td class="pb-5" style="width: 50%; text-align: left;">
                  <h4 class="theme-color">
                    <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
                  </h4>
                    <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                    <% if @user == current_user %>
                    <p><%= diary.private_status_i18n %></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <!-- 全公開 -->
      <div class="diary-tab-content scroll" id="full_open">
        <table class="table-borderless" style="width: 100%;">
          <% @diaries.each do |diary| %>
            <% if diary.private_status == "full_open" %>
              <tr>
                <th class="pb-5" style="width: 50%;">
                  <%= link_to diary_path(diary) do %>
                    <% if diary.image? %>
                      <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                    <% else %>
                      <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                    <% end %>
                  <% end %>
                </th>
                <td class="pb-5" style="width: 50%; text-align: left;">
                  <h4 class="theme-color">
                    <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
                  </h4>
                    <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                    <% if @user == current_user %>
                    <p><%= diary.private_status_i18n %></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>