<div class="row font-white">
  <div class="col-lg-3 mb-3 text-center">
    <% if user_signed_in? && (@user == current_user) %>
      <h4 class="mb-3">
        <%= link_to '日記を投稿する', new_diary_path, class: "link" %>
      </h4>
    <% end %>
    <div class="pb-2">
      <% if @user.image? %>
        <%= image_tag @user.image.url, width: 150, height: 150, class: "circle" %>
      <% else %>
        <%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
      <% end %>
    </div>
    <br>
    <%= @user.name %>
    <% if user_signed_in? %>
      <div class="mt-3">
        <% if @user == current_user %>
          <%= link_to '編集する', edit_user_path(@user), class: "btn btn-outline-success form-control" %>
          <%= link_to '友達一覧へ', user_friends_path(current_user.id), class: "btn btn-outline-primary form-control" %>
          <%= link_to 'チャットルーム一覧', rooms_path, class: "btn btn-outline-primary form-control" %>
        <% else %>

          <!-- @userとcurrent_userの関係性を評価 -->
          <% if current_user.friend?(@user) %>

            <% if @room.present? %>
              <%= link_to 'チャットルームへ', room_path(@room), class: "btn btn-outline-primary form-control" %>
            <% else %>
              <%= link_to 'チャットを始める', rooms_path(user_id: @user.id), method: :post, class: "btn btn-outline-success form-control" %>
            <% end %>

            <%= link_to '削除', user_friend_path(user_id: current_user.id, id: @user_info.id), method: :delete, class: "btn btn-outline-danger form-control" %>
            <% if @groups.present? %>
              <%= form_with url: group_users_path(group_id: @groups),local: true do |f| %>
                <%= f.hidden_field :join_status, value: "joined" %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.collection_select(:group_id, @groups, :id, :name,{prompt: @groups[1]}, {class: "form-control form"}) %>
                <%= f.submit 'グループに招待する', class: "btn btn-outline-success form-control" %>
              <% end %>
            <% end %>
          <% elsif current_user.wait_self?(@user) %>
            申請中です
            <%= link_to '取り消す', user_friend_path(user_id: current_user.id, id: @user_info.id), method: :delete, class: "btn btn-outline-danger form-control" %>
          <% elsif current_user.waiting_other_user?(@user) %>
            申請が来ています
            <%= link_to '友達になる', user_friend_path(user_id: current_user.id, id: @user_info.id), method: :put, class: "btn btn-outline-success form-control" %>
            <%= link_to '断る', user_friend_path(user_id: current_user.id, id: @user_info.id), method: :delete, class: "btn btn-outline-danger form-control" %>
          <% else %>
            <%= form_with(url: user_friends_path(user_id: current_user.id), local: true) do |f| %>
              <%= f.hidden_field :sender_id, value: current_user.id %>
              <%= f.hidden_field :receiver_id, value: @user.id %>
              <%= f.hidden_field :request_status, value: "waiting_for_allow" %>
              <%= f.submit '友達になる', class: "btn btn-outline-success form-control" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div>
          <div class="text-center mt-3 mb-5">
            <h6>
              <%= link_to "保留中", user_path, class: "link theme-color" %>
              |
              <%= link_to "申請中", user_path(request: "send"), class: "link theme-color" %>
            </h6>
          </div>
          <% if @friend_requests.present? %>
            <h4 style="color: #00FF3B;">申請が来ています</h4>
            <div style="overflow: auto; height: 300px;">
              <% @friend_requests.each do |request| %>
                <% if request.receiver_id == current_user.id %>
                  <div>
                    <%= link_to user_path(request.sender.id) do %>
                      <% if request.sender.image? %>
                        <%= image_tag request.sender.image.url, width: 150, height: 150, class: "circle" %>
                      <% else %>
                        <%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
                      <% end %>
                    <% end %>
                  </div>
                  <br>
                  <%= request.sender.name %>
                
                  <%= link_to '友達になる', user_friend_path(user_id: current_user.id, id: request.id),method: :put, class: "btn btn-outline-success form-control" %>
                  <%= link_to '断る', user_friend_path(user_id: current_user.id, id: request.id), method: :delete, class: "btn btn-outline-danger form-control" %>
                <% else %>
                  <div>
                    <%= link_to user_path(request.receiver.id) do %>
                      <% if request.receiver.image? %>
                        <%= image_tag request.receiver.image.url, width: 150, height: 150, class: "circle" %>
                      <% else %>
                        <%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
                      <% end %>
                    <% end %>
                  </div>
                  <br>
                  <%= request.receiver.name %>
                  <%= link_to '取り消す', user_friend_path(user_id: current_user.id, id: request.id), method: :delete, class: "btn btn-outline-danger form-control" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-9 font-white text-center">
    <h2 class="mb-5 border-bottom">日記一覧</h2>
    <div class="scroll">
      <table class="table-borderless" style="width: 100%;">
        <% @diaries.each do |diary| %>
          <tr>
            <th class="pb-5" style="width: 50%;">
              <%= link_to diary_path(diary) do %>
                <% if diary.image? %>
                  <%= image_tag diary.image.url, width: 200, height: 200, class: "square" %>
                <% else %>
                  <%= image_tag 'NO_IMAGE.png', width: 200, height: 200, class: "square" %>
                <% end %>
              <% end %>
            </th>
            <td class="pb-5" style="width: 50%; text-align: left;">
              <h4 class="theme-color">
                <%= link_to diary.title, diary_path(diary), class: "theme-color" %>
              </h4>
                <p><%= diary.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></p>
                <% if @user == current_user %>
                <p><%= diary.private_status %></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>