<div class="row no-gutters">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 text-center font-white">
		<h4><%= "#{@word}の検索結果" %></h4>
		<% if @user.present? %>
			<%= link_to admin_user_path(@user) do %>
				<% if @user.image? %>
					<%= image_tag @user.image.url, width: 150, height: 150, class: "circle" %>
				<% else %>
					<%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
				<% end %>
			<% end %>
			<br>
			<%= @user.name %>
		<% else %>
			<div class="row no-gutters mt-3 mb-3">
				<div class="col-lg-12">
					<% @users.each do |user| %>
						<%= link_to admin_user_path(user) do %>
							<% if user.image? %>
								<%= image_tag user.image.url, width: 150, height: 150, class: "circle" %>
							<% else %>
								<%= image_tag "NO_IMAGE.png", width: 150, height: 150, class: "circle" %>
							<% end %>
						<% end %>
						<br>
						<%= user.name %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>