<div class="row no-gutters">
  <div class="col-lg-6">
    <h4 class="text-center"><%= @contact.title %></h4>
    <br>
    <div class="row no-gutters mb-5">
      <%= @contact.body %>
    </div>
    <h4 class="text-center">返信内容</h4>
    <div class="row no-gutters mb-5">
      <% if @contact.reply.present? %>
      <%= @contact.reply %>
      <% else %>
      <p>まだ返信していません</p>
      <% end %>
    </div>
  </div>
  <% if @contact.reply.nil? %>
  <div class="col-lg-6">
    <%= form_with url: admin_contact_path, method: :patch do |f| %>
    <%= f.text_area :reply, rows: 10, class: "form-control", required: true %>
    <%= f.hidden_field :response_status, value: "already_replyed" %>
    <%= f.submit '返信する', class: "btn-outline-primary form-control" %>
    <% end %>
    <br>
    <p class="text-center"><%= link_to "問い合わせ一覧へ", admin_contacts_path %></p>
  </div>
  <% end %>
</div>