<div class="row no-gutters">
	<div class="offset-lg-4">
	</div>
	<div class="col-lg-4 font-white text-center">
		<h4><%= "'#{@word}'の検索結果" %></h4>
		<br>
		<% if @range == "グループID" %>
			<div class="text-center mb-5">
				<%= link_to group_path(@group) do %>
					<% if @group.image? %>
						<%= image_tag @group.image.url, width: 250, height: 250, class: "circle" %>
					<% else %>
						<%= image_tag "NO_IMAGE.png", width: 250, height: 250, class: "circle" %>
					<% end %>
				<% end %>
				<br>
				グループ名　
				<%= link_to @group.name, group_path(@group), class: "theme-color" %>
				<br>
				グループのホスト　
				<%= link_to @leader.name, user_path(@leader.id), class: "theme-color" %>
				<br>
			</div>
			<% if @group.group_users.find_by(user_id: current_user, join_status: "joined") %>
				すでに参加しています

			<% elsif @group_user = @group.group_users.find_by(user_id: current_user.id) %>
				申請中です
				<br>
				<%= link_to '取り消す', group_destroy_user_path(group_id: @group.id,id: @group_user.id ), method: :delete, class: "btn btn-outline-danger form-control mt-3" %>
			<% else %>
				<%= form_with url: group_join_user_path(group_id: @group.id), local: true do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field :group_id, value: @group.id %>
					<%= f.hidden_field :join_status, value: "waiting_for_allow" %>
					<%= f.button type: "submit", class: "btn btn-outline-success form-control" do %>
						<i class="fas fa-door-closed"></i>参加申請を送る
					<% end %>
				<% end %>
			<% end %>



		<% elsif @range == "ユーザーID" %>
			<div class="mb-5">
				<%= link_to user_path(@user) do %>
					<% if @user.image? %>
						<%= image_tag @user.image.url, width: 250, height: 250, class: "circle" %>
					<% else %>
						<%= image_tag "NO_IMAGE.png", width: 250, height: 250, class: "circle" %>
					<% end %>
				<% end %>
				<br>
				ユーザー名　<%= link_to @user.name, user_path(@user), class: "link" %>
				<br>
			</div>
			<% if @user.id == current_user.id %>
				あなたです
				

			<% elsif current_user.senders.find_by(id: @user.id) && current_user.receivers.find_by(id: @user.id) %>
				
				すでに友達です
				<br>
				<%= link_to user_friend_path(user_id: current_user.id, id: @friend, status: @status), method: :delete, remote: true, class: "btn btn-outline-danger form-control mt-3" do %>
					<i class="fas fa-dizzy"></i>お別れする
				<% end %>

			<% elsif current_user.senders.find_by(id: @user.id) && (@user.senders.find_by(id: current_user.id)).nil? %>

				承認待ちです
				<br>

				<%= link_to user_friend_path(user_id: current_user.id, id: @friend, status: @status), method: :delete, remote: true, class: "btn btn-outline-danger form-control mt-3" do %>
					<i class="fas fa-dizzy"></i>取り消す
				<% end %>

			<% elsif (current_user.senders.find_by(id: @user.id,)).nil? && @user.senders.find_by(id: current_user.id) %>
				
				申請が来ています
				<br>
				<%= link_to user_friend_path(user_id: current_user.id, id: @friend), method: :patch, class: "btn btn-outline-success form-control mt-3" do %>
					<i class="fas fa-handshake"></i>承認
				<% end %>
				<br>

				<%= link_to user_friend_path(user_id: current_user.id, id: @friend, status: @status), method: :delete, remote: true, class: "btn btn-outline-danger form-control" do %>
					<i class="fas fa-dizzy"></i>断る
				<% end %>
			
			<% else %>
				<%= form_with url: user_friends_path(user_id: current_user.id), local: true do |f| %>
					<%= f.hidden_field :sender_id, value: current_user.id %>
					<%= f.hidden_field :receiver_id, value: @user.id %>
					<%= f.hidden_field :request_status, value: "waiting_for_allow" %>
					<%= f.button type: "submit",class: "btn btn-outline-success form-control mt-3" do %>
						<i class="fas fa-handshake"></i>友達申請を送る
					<% end %>
				<% end %>
			<% end %>


		<% else %>
			見つかりませんでした
		<% end %>
	</div>
</div>