<% @direct_messages.last(100).each do |direct_message| %>
	<div class="row pr-3 pl-3">
		<% if direct_message.user.id == current_user.id %>
			<div class="offset-lg-4 col-lg-8" style="text-align: right; margin-bottom: 3px;">
				<p style="display: inline-block;"><%= direct_message.created_at.strftime("%-H:%M") %></p>
				<div class="self-message">
					<p class="mb-0"><%= direct_message.content %></p>
				</div>
			</div>
		<% else %>
			<div class="col-lg-8" style="text-align: left; margin-bottom: 3px;">
				<p class="mb-0" style="color: #fff;"><%= direct_message.user.name %></p>
				<div class="other-message">
					<p class="mb-0"><%= direct_message.content %></p>
				</div>
				<p style="display: inline-block;"><%= direct_message.created_at.strftime("%-H:%M") %></p>
			</div>
			<div class="col-lg-4">
			</div>
		<% end %>
	</div>
<% end %>