<div class="row side-space font-white">
	<div class="offset-lg-2">
	</div>
	<div class="col-lg-8" style="overflow: auto; height: 680px;">
		<% @users.each do |user| %>
			<div class="row no-gutters text-center mt-3 mb-3">
				<div class="col-lg-6">
					<%= link_to admin_user_path(user) do %>
						<% if user.image? %>
							<%= image_tag user.image.url, width: 100, height: 100, class: "circle" %>
						<% else %>
							<%= image_tag "NO_IMAGE.png", width: 100, height: 100, class: "circle" %>
						<% end %>
					<% end %>
				</div>
				<div class="col-lg-6 mt-3" style="text-align: left;">
					ID: <%= user.id %></td>
					<br>
					ユーザー名: <%= link_to user.name, admin_user_path(user), class: "link theme-color" %>
					<br>
					状態: <%= user.valid_status_i18n %>
				</div>
			</div>
		<% end %>
	</div>
</div>