<nav class="
  navbar
  navbar-expand-lg
  side-space
  theme-color
  font-white
  text-center
  pt-3 pb-3">


  <%= link_to 'OurSpace', root_path,
    class: "navbar-brand theme-color",
    style: "font-size: 30px; font-family: cursive; text-shadow: 2px 2px 3px #000;"%>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="ナビゲーションの切替">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item active mr-3 ml-3">
          <%= link_to 'ホーム', admin_root_path, class: "nav-link theme-color mr-3 ml-3" %>
        </li>

        <li class="nav-item active">
            <%= link_to 'ユーザー一覧', admin_users_path, class: "nav-link theme-color mr-3 ml-3" %>
          </li>


          <li class="nav-item active mr-3 ml-3">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link font-red" %>
          </li>
      </ul>
        <div>
          <%= form_with url: admin_searches_path, method: :get, local: true do |f| %>
            <div class="row">

              <%= f.text_field :word, required: true, class: "form-control font-white col-md-6", id: "search" %>

              <%= select_tag :range, options_for_select([["ユーザー名"],["ログインID"]]), class: "form-control col-lg-4 theme-color", id: "search-tag"%>

              <%= f.submit '検索', class: "btn col-lg-2 btn-outline-success" %>

            </div>
          <% end %>
        </div>
    </div>
  </nav>