<!DOCTYPE html>
<html>
  <head>
    <title>Assemble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="top" style="background-color: #C2EEFF;">
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
      <div class="container-fruid table-responsive" style="padding-top: 50px;">
        <%= yield %>
      </div>
    <!-- <footer style="background-color: #fff; height: 100px;">
      <% render 'layouts/user_footer' %>
    </footer>    -->
  </body>
</html>
