<!DOCTYPE html>
<html>
  <head>
    <title>Assemble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body style="background-color: #C2EEFF;">
    <header>
      <%= render 'layouts/user_header' %>
    </header>
    <% if @back.present? %>
    <div style="
      background: <%= @back %>;
      height: 300px;
      background-size: cover;
      background-position: center;
      padding-bottom: calc(100%*1365/2048);">
    <% end %>
      <div class="container-fruid table-responsive" style="padding-top: 50px;">
        <%= yield %>
      </div>
    <% if @back.present? %>
      </div>
    <% end %>
  </body>
</html>
