<!DOCTYPE html>
<html>
  <head>
    <title>Assemble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body style="background-color: #C2EEFF;">
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
    <% if @back.present? %>
    <div style="
      background: <%= @back %>;
      height: 800px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50% 25%;" >
    <% end %>
      <div class="container-fruid table-responsive" style="padding-top: 50px;">
        <%= yield %>
      </div>
    <% if @back.present? %>
      </div>
    <% end %>
  </body>
</html>
