<!DOCTYPE html>
<html>
  <head>
    <title>OurSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @back %>" style="background-color: #fff">
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
    <div class="container-fruid side-space main-content" style="padding-top: 3%;">
      <%= notice %>
      <%= yield %>
    </div>
    <div class="container-fruid fixed-bottom link_footer">
      <%= render 'layouts/link_footer' %>
    </div>
    <footer>
      <%= render 'layouts/user_footer' %>
    </footer>
  </body>
</html>
